.place-change {
  /* height: 58px; */
  width: 100px; /* 150 */
  display: flex;
  /* justify-content: center;
  align-items: center; */
  font-size: 15px; /* 24 */

  margin-left: 5px;
  color: black;
}

.place-change .place-change-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.place-change .place-change-inner .icon {
  margin-left: 8px;
  margin-right: 8px;
  width: 15px; /* 20 */
  height: 15px; /* 20 */
}
