.standings {
  padding: 20px;
  border: 1px solid black;
  border-radius: 12px;
  max-width: 100%;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  font-weight: bold;
  box-sizing: border-box;
}

.standings .standings-config-bar {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
  margin-bottom: 20px;
}

.standings .standings-category-name,
.standings .standings-row {
  padding: 8px;
  overflow: hidden;
  background-color: #444444;
  color: white;
  font-weight: bold;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.standings .standings-row {
  display: grid;
  grid-template-columns: minmax(30px, 1fr) minmax(100px, 3fr) repeat(4, minmax(50px, 1fr));
  gap: 10px;
  padding-left: 20px;
}

.standings .standing-item {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 4px;
  display: flex;
  align-items: center;
}

.standings .standings-row .standing-item {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 4px;
  display: flex;
  align-items: center;
}

.standings .standings-row .standing-item > div > div {
  vertical-align: middle;
}

/* resolutions */
@media (max-width: 1200px) {
  .standings .standings-row {
    grid-template-columns: minmax(30px, 1fr) minmax(80px, 2fr) repeat(4, minmax(50px, 1fr));
  }
}

@media (max-width: 768px) {
  .standings .standings-row {
    grid-template-columns: 1fr 2fr;
    flex-wrap: wrap;
  }

  .standings .standing-item {
    width: 100%;
    text-align: center;
  }
}
